################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/progskelo/FileContentIndex/1cc67d86-3cd7-434f-8aac-e15f4b4b7ea9.vsidx
/.vs/progskelo/FileContentIndex/3026ee92-0059-412a-9e4b-5d4b1aecdfac.vsidx
/.vs/progskelo/FileContentIndex/3e18482b-bd9a-4922-ba6e-a00df54a5677.vsidx
/.vs/progskelo/FileContentIndex/8dddf139-7aac-461d-bcd2-1c65bcd473ef.vsidx
/.vs/progskelo/CopilotIndices/17.13.433.20974/CodeChunks.db
/.vs/progskelo/FileContentIndex/ffb2fcd3-54d0-4b87-b4b5-41c7b02990c2.vsidx
/.vs/progskelo/FileContentIndex/c6c184b1-2ad0-4d54-bf4e-bb3713ce9194.vsidx
/.vs/progskelo/FileContentIndex/495d09fc-c8a9-4d2c-bd14-96828425a3f2.vsidx
/.vs/progskelo/FileContentIndex/13092312-a989-494c-aca7-ef99b7e8dcaf.vsidx
