################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/src/FileContentIndex/55a6b0a1-89f8-4235-9716-fb9b824a8de4.vsidx
